{% load static %}
<div class="footer container">
  <div class="footer-content">
    <div class="cassino-redes">
      <h1 class="titulo titulo-medium titulo-footer">Cassino</h1>
      <div class="redes-footer-container">
        <h2 class="titulo subtitulo-footer">Nossas redes</h2>
        <ul class="redes">
          <li>
            <a href="https://www.instagram.com/cassino.m33/?theme=dark" target="_blank">
              <img src="{% static 'logo-tipos/logo-instagram-verde.svg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20tirar%20uma%20dúvida." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp-verde.svg' %}" alt="">
            </a>
          </li>
          <li><a href="#"><img src="{% static 'logo-tipos/logo-youtube-verde.svg' %}" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="mapa-site-container">
      <h2 class="titulo subtitulo-footer">Mapa do site</h2>
      <ul class="mapa-site">
        <li>
          <a href="#">home</a>
          <a href="#">contato</a>
        </li>
        <li>
          <a href="#">votações</a>
        </li>
        <li>
          <a href="#">calculadora</a>
          <a href="#">regras</a>
        </li>
        <li>
          <a href="#">minha conta</a>
        </li>
        <li>
          <a href="#">termos</a>
          <a href="#">ranking</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="copy container">
  <div class="copy-content">
    <div class="logo-footer logo">
      <a href="{% url 'home' %}"><img src="{% static 'logo-tipos/logo-coelho.png' %}" alt="Coelho Matriz"></a>
    </div>
    <p class="copyright">Cassino © Alguns direitos reservados.</p>
    <a class="developer-container" href="https://github.com/MatheusTG" target="_blank">
      <div>
        <img class="icone-developer" src="{% static 'icones/icone-developer.svg' %}" alt="Tag HTML">
        <span>Developer</span>
      </div>
      <img class="developer-seta" src="{% static 'icones/icone-seta03.svg' %}" alt="Tag HTML">
      <div class="github-developer">
        <img class="logo-github" src="{% static 'logo-tipos/logo-github.svg' %}" alt="Tag HTML">
        <span>MatheusTG</span>
      </div>
    </a>
    <p class="localizacao-utfpr">UTFPR - Via Rosalina Maria dos Santos, 1233 - Vila Carolo, Campo Mourão - PR, 87301-899</p>
    <div class="logo-utfpr">
      <a href="https://www.google.com.br/maps/@-24.060361,-52.3870448,3a,75y,117.22h,83.83t/data=!3m6!1e1!3m4!1scSuvK240-BSUW5lGq25N4w!2e0!7i16384!8i8192?entry=ttu" target="_blank">
        <img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt="Logo UTFPR">
      </a>
    </div>
  </div>
</div>