<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if user.is_authenticated %}
  <title>Cassino - {{ user.first_name }} {{ user.last_name }}</title>
{% else %}
  <title>Cassino</title>
{% endif %}

{% if debug %}
  <link rel="stylesheet" href="http://localhost:5173/src/css/style.css" />
  <script type="module" src="http://localhost:5173/@vite/client"></script>
{% endif %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
