{% load static %}
<ul class="menu-container">
  <li class="logo">
    <img src="{% static 'logo-tipos/logo-coelho.png' %}" alt="Coelho Matriz">
  </li>
  <li class="menu-icone">
    <img src="{% static 'icones/menu-humburguer.svg' %}" alt="Menu">
  </li>
  <li class="perfil">
    <img src="{% static 'icones/icone-perfil.svg' %}" alt="Perfil">
  </li>
  <li>
    <img src="{% static 'icones/icone-podio.svg' %}" alt="Podio">
  </li>
</ul>

<div class="titulo-container">
  <h1 class="titulo titulo-1">Conheça a M33</h1>
  <p class="titulo-paragrafo">Os alunos do técnico da UTFPR são reponsáveis todos os anos por uns dos maiores eventos de filantriopia de Campo Mourão.</p>
</div>

<div class="redes-turmas-container">
  <ul class="redes">
    <li>
      <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
    </li>
    <li>
      <img src="{% static 'logo-tipos/logo-instagram.svg' %}" alt="Logo Instagram">
    </li>
    <li>
      <img src="{% static 'logo-tipos/logo-youtube.svg' %}" alt="Logo YouTube">
    </li>
  </ul>
  
  <ul class="turmas">
    <li><button class="turma-button">M31</button></li>
    <li><button class="turma-button">M32</button></li>
    <li><button class="turma-button">M33</button></li>
  </ul>
</div>