{% load static %}
<nav class="menu-container">
  <div class="logo">
    <a href="#"><img src="{% static 'logo-tipos/logo-coelho.png' %}" alt="Coelho Matriz"></a>
  </div>
  <div class="menu-perfil-container">
    <div>
      <img src="{% static 'icones/menu-humburguer.svg' %}" alt="Menu">
    </div>
    <div>
      <img src="{% static 'icones/icone-perfil.svg' %}" alt="Perfil">
    </div>
  </div>
  <div class="login-cadastro">
    <div class="login"><a href="#">Login</a></div>
    <div class="cadastro"><a href="#">Cadastro</a></div>
  </div>
</nav>

<h1 class="titulo titulo-large">Conheça a M33</h1>
<p class="titulo-paragrafo">Os alunos do técnico da UTFPR são reponsáveis todos os anos por uns dos maiores eventos de filantriopia de Campo Mourão.</p>

<div class="redes-turmas-container">
  <ul class="redes">
    <li>
      <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
    </li>
    <li>
      <img src="{% static 'logo-tipos/logo-instagram.svg' %}" alt="Logo Instagram">
    </li>
    <li>
      <img src="{% static 'logo-tipos/logo-youtube.svg' %}" alt="Logo YouTube">
    </li>
  </ul>
  
  <ul class="turmas">
    <li><button class="turma-button">M31</button></li>
    <li><button class="turma-button">M32</button></li>
    <li><button class="turma-button">M33</button></li>
  </ul>
</div>