.conheca-gincana-container {
  padding: var(--spacing-large03) 0 var(--spacing-large02)
    var(--spacing-small05);
  position: relative;
  overflow: hidden;
}

.conheca-gincana-container > * {
  grid-column: 2/4;
  opacity: 0;
}

.conheca-gincana-container .titulo-container {
  margin-bottom: var(--spacing-medium01);
}

.conheca-gincana-container .titulo {
  color: var(--color00);
  margin-bottom: var(--spacing-small04);
}

.conheca-gincana-container .titulo-paragrafo {
  color: var(--color03);
  max-width: 54ch;
}

.conheca-gincana-container .titulo-paragrafo.mobile {
  display: none;
}

/* Background de conheça a gincana */
.conheca-gincana-container::before {
  content: '';
  width: 600px;
  height: 600px;
  background-image: url('../../img/backgrounds/codigos-matriz.jpg');
  background-repeat: repeat-x;
  transform: rotate(-90deg);
  box-shadow: inset -40px 0px 80px black;
  position: absolute;
  top: -2vw;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

.conheca-gincana-container::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../../img/backgrounds/conheca-gincana.jpg');
  box-shadow: inset 40vw 12vw 200px black, inset -40vw -12vw 200px black;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 20%;
  top: 5%;
  transition: box-shadow 1s, opacity 1s;
  opacity: 0;
  z-index: -1;
}
.conheca-gincana-container.active:after {
  box-shadow: inset 0px 0px 0px 0px black;
  opacity: 0.4;
}
.conheca-gincana-container.active > * {
  animation: fadeInRight 1s forwards;
}

@media (min-width: 1600px) {
  .conheca-gincana-container {
    padding-bottom: var(--spacing-large04);
  }
  .conheca-gincana-container::after {
    background-size: 80%;
  }
}

@media (max-width: 1200px) {
  .conheca-gincana-container {
    padding: var(--spacing-large01) var(--spacing-medium05);
    /* padding-bottom: var(--spacing-large03); */
  }
  .conheca-gincana-container::after {
    background-size: 120%;
    top: 5%;
    right: 0%;
  }
}

@media (max-width: 1000px) {
  .conheca-gincana-container::before {
    display: none;
  }
  .conheca-gincana-container::after {
    background-size: 130%;
    opacity: 0.3;
  }
}

@media (max-width: 800px) {
  .conheca-gincana-container .titulo-container .titulo {
    font-size: 3rem;
  }
  .conheca-gincana-container::after {
    box-shadow: none;
  }
}

@media (max-width: 720px) {
  .conheca-gincana-container {
    padding: var(--spacing-medium03) var(--spacing-small05);
    padding-bottom: var(--spacing-medium05);
  }
  .conheca-gincana-container::after {
    top: 5%;
  }
  .conheca-gincana-container .titulo-container .titulo {
    font-size: 2.25rem;
  }
  .conheca-gincana-container .titulo-paragrafo.desktop {
    display: none;
  }
  .conheca-gincana-container .titulo-paragrafo.mobile {
    display: block;
  }
}
