.contato-email-container {
  background-color: var(--color00);
  padding: var(--spacing-large02) var(--spacing-small05);
  position: relative;
}

.contato-email-container .titulo-container {
  grid-column: 2;
}

.contato-email-container .titulo-paragrafo {
  color: var(--color10);
  max-width: 40ch;
}

.formulario-contato-email {
  grid-column: 3;
  display: grid;
  gap: var(--spacing-small05);
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}

.contato-email-container input,
.contato-email-container textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: var(--spacing-small03);
  border: 2px solid var(--color12);
  border-radius: var(--border-radius-small);
  resize: none;
  font: 500 1rem/1.5 var(--font-barlow), sans-serif;
  background-color: transparent;
}

.nome-contato-container {
  grid-column: 1;
}

.empresa-contato-container {
  grid-column: 2;
}

.email-contato-container {
  grid-column: span 2;
}

.mensagem-contato-container {
  grid-column: span 2;
}

.contato-email-container .button-contato {
  color: var(--color-p32-02);
}

.imagem-natalia-luana img {
  position: absolute;
  left: 10%;
  bottom: 0px;
  width: 520px;
  opacity: 0.2;
  z-index: 1;
  pointer-events: none;
}

/* Evita que o título fique grudado no formulário */
@media (max-width: 1060px) {
  .contato-email-container {
    display: block;
    padding: var(--spacing-large02) var(--spacing-medium05);
  }
}

@media (max-width: 1000px) {
  .contato-email-container .titulo-container {
    padding-bottom: var(--spacing-small05);
    margin-bottom: var(--spacing-small05);
    border-bottom: 2px solid var(--color04);
  }
  .imagem-natalia-luana {
    overflow: hidden;
  }
  .imagem-natalia-luana img {
    width: 80%;
    opacity: 0.15;
  }
}

@media (max-width: 720px) {
  .contato-email-container {
    padding: var(--spacing-medium05) var(--spacing-small05);
  }
}

@media (max-width: 600px) {
  .formulario-contato-email {
    display: block;
  }
  .formulario-contato-email input,
  .formulario-contato-email textarea {
    margin-bottom: var(--spacing-small05);
  }
  .imagem-natalia-luana img {
    width: 140%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}
