/* Containers */
.header-slide-container {
  position: relative;
  z-index: 1;
}

/* Códigos fundo header */
.header-slide-container::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url('../../img/backgrounds/codigos-matriz.jpg');
  background-repeat: repeat-x;
  z-index: -1;
  opacity: 0.2;
  box-shadow: inset -50px 0px 80px black;
}

/* Imagem da turma */
.background-header {
  grid-column: 3/-1;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: 0.5;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--spacing-large01) var(--spacing-small05);
  margin-bottom: 40px;
}

/* Navegação */
.menu-container {
  grid-column: 1;
  display: flex;
  align-items: end;
  gap: var(--spacing-small06);
  margin-bottom: var(--spacing-small06);
}

.header-logo {
  width: 4rem;
}

.menu-perfil-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small06);
}

.header .login-cadastro {
  margin-left: auto;
  display: flex;
  gap: var(--spacing-small05);
}

.header .login-cadastro a {
  font-weight: 500;
  font-size: 1.125rem;
  font-family: var(--font-barlow);
  color: var(--color05);
  text-decoration: none;
}

.header .titulo {
  grid-column: 1;
  margin-bottom: var(--spacing-small03);
}

.header .titulo {
  color: white;
}

.header .titulo-paragrafo {
  grid-column: 1/-1;
  color: var(--color05);
  margin-bottom: var(--spacing-medium01);
  max-width: 52ch;
}

/* Redes sociais e turmas */
.redes-turmas-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--color03);
  padding-top: var(--spacing-small05);
}

.turmas {
  display: flex;
  align-items: center;
  gap: var(--spacing-small05);
}

/* Class active adicionada em src/ts/header/turmas.ts */
.turmas li.active button {
  color: white;
}

.turmas button {
  background-color: transparent;
  border: none;
  color: var(--color07);
  font: bold 1.125rem/1.5 var(--font-IBM), sans-serif;
  letter-spacing: 1px;
}

.turmas-form {
  display: none;
}

/* Media queries */
@media (max-width: 1000px) {
  .header-slide-container::before {
    display: none;
  }
  .header {
    padding: var(--spacing-medium05);
  }
  .background-header {
    grid-column: 1/-1;
    opacity: 0.2;
  }
}

@media (max-width: 720px) {
  .header {
    display: block;
    padding: var(--spacing-small05);
  }
  .header .menu-perfil-container {
    margin-left: auto;
  }
  .header-menu {
    order: 1;
  }
  .header .login-cadastro {
    display: none;
  }

  /* Turmas 600px */
  .header .redes-turmas-container {
    position: relative;
  }
  .header .turmas {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 100;
  }
  .header .turmas.active {
    display: grid;
    gap: 0px;
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    transition: background 0.5s;
  }
  .header .turmas li {
    display: none;
  }
  .header .turmas.active li {
    display: block;
    z-index: -1;
    animation: fadeInDown 0.3s forwards;
  }
  /* buttom com active */
  .header .turmas li.active {
    grid-row: 1;
    display: block;
    animation: none;
  }
  /* buttons sem active */
  .header .turmas button {
    padding: var(--spacing-small02) var(--spacing-small04);
  }
  .header .turmas li.active button {
    display: flex;
    background-color: var(--color10);
    border-radius: var(--border-radius-medium);
    align-items: center;
    gap: var(--spacing-small02);
    color: var(--color07);
  }
  /* Ícone de seta no botão ativo */
  .header .turmas li.active button::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../../img/icones/icone-seta.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(0);
    transition: transform 0.3s;
  }
  .header .turmas.active li.active button::after {
    transform: rotate(-90deg);
  }
}
