/* Containers */
.header-slide-container {
  position: relative;
  z-index: 1;
  padding: 0%;
  transition: 0.5s;
}

/* Códigos fundo header */
.header-slide-container::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url('../../img/backgrounds/codigos-matriz.jpg');
  background-repeat: repeat-x;
  z-index: -1;
  opacity: 0.2;
  box-shadow: inset -50px 0px 80px black;
}

/* Imagem da turma */
.background-header {
  grid-column: 3/-1;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: 0.5;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--spacing-large01) var(--spacing-small05);
  margin-bottom: 40px;
}

/* Navegação */
.menu-container {
  grid-column: 1;
  display: flex;
  align-items: end;
  gap: var(--spacing-small06);
  margin-bottom: var(--spacing-small06);
}

.header-menu-perfil {
  display: flex;
  align-items: center;
  gap: var(--spacing-small06);
}

.header-logo {
  width: 4rem;
}

.header-menu,
.header-perfil,
.header-podio {
  cursor: pointer;
  transition: opacity 0.1s;
}

.header-menu:hover,
.header-perfil:hover {
  opacity: 0.6;
}

.header-podio {
  margin-left: auto;
}

.header-podio:hover {
  opacity: 0.6;
}

.header .titulo {
  grid-column: 1;
  margin-bottom: var(--spacing-small03);
}

.header .titulo {
  color: var(--color00);
}

.header .titulo-paragrafo {
  grid-column: 1/-1;
  color: var(--color05);
  margin-bottom: var(--spacing-medium01);
  max-width: 52ch;
}

/* Redes sociais e turmas */
.redes-turmas-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--color03);
  padding-top: var(--spacing-small05);
}

.turmas {
  display: flex;
  align-items: center;
  gap: var(--spacing-small05);
}

.turmas button {
  background-color: transparent;
  border: none;
  color: var(--color07);
  font: bold 1.125rem/1.5 var(--font-IBM), sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.turmas button::before {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color00);
  transition: 0.3s;
  position: absolute;
  bottom: 0;
}

/* Class active adicionada por src/ts/header/turmas.ts */
.turmas li.active button {
  color: var(--color00);
}

.turmas li.active button::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color00);
}

/* Media queries */
@media (max-width: 1000px) {
  .header-slide-container::before {
    display: none;
  }
  .header {
    padding: var(--spacing-medium05);
  }
  .background-header {
    grid-column: 1/-1;
    opacity: 0.2;
  }
}

@media (max-width: 720px) {
  .header {
    display: block;
    padding: var(--spacing-small05);
  }
  .header-menu {
    order: 1;
    margin-left: auto;
  }
  .header-podio {
    margin-left: initial;
  }
  .header .login-cadastro {
    display: none;
  }

  /* Turmas container geral 600px */
  .header .redes-turmas-container {
    position: relative;
  }
  .header .turmas {
    flex-direction: column;
    gap: 0px;
    position: absolute;
    right: 0px;
  }

  /* Turmas container ativo 600px */
  .header .turmas.active {
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    overflow: hidden;
    z-index: 1;
  }
  .header .turmas.active li {
    background-color: rgba(18, 18, 18, 0.9);
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: -1;
  }
  .header .turmas li.active button::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../../img/icones/icone-seta.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(0);
    transition: transform 0.3s;
  }
  /* Faz com que ao selecionar outra turma haja animação */
  .header .turmas.active li button::after {
    transform: rotate(0);
  }
  .header .turmas.active li.active button::after {
    transform: rotate(-90deg);
  }

  /* Turmas item geral 600px */
  .header .turmas li {
    visibility: hidden;
    transform: translate3d(0, -30px, 0);
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    opacity: 0;
    width: 100%;
    text-align: center;
    order: 2;
  }
  .header .turmas li button {
    padding: var(--spacing-small02) var(--spacing-small04);
  }
  .header .turmas li button::before {
    display: none;
  }

  /* Turmas item ativo 600px */
  .header .turmas li.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: initial;
    order: 1;
    z-index: 1;
    opacity: 1;
  }
  .header .turmas li.active button {
    display: flex;
    gap: var(--spacing-small02);
    align-items: center;
    background-color: var(--color10);
    border-radius: var(--border-radius-medium);
  }
}
