/* Containers */
.header-slides-container {
  background-color: var(--color12);
  position: relative;
  z-index: 1;
}

/* Códigos fundo header */
.header-slides-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../../img/backgrounds/codigos-matriz.jpg");
  background-repeat: repeat-x;
  z-index: -1;
  opacity: 0.2;
  box-shadow: inset -50px 0px 80px black;
}

/* Imagem da turma */
.background-header {
  grid-column: 3/-1;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: 0.5;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--spacing-large01) var(--spacing-small05);
}

/* Navegação */
.menu-container {
  grid-column: 1;
  display: flex;
  align-items: end;
  gap: var(--spacing-small06);
  margin-bottom: var(--spacing-small06);
}

.logo {
  width: 64px;
}

.menu-perfil-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small06);
}

.login-cadastro {
  margin-left: auto;
  display: flex;
  gap: var(--spacing-small05);
}

.login-cadastro a {
  font-weight: 500;
  font-size: 1.125rem;
  font-family: var(--font-barlow);
  color: var(--color05);
  text-decoration: none;
}

.header .titulo {
  grid-column: 1;
  margin-bottom: var(--spacing-small03);
}

.header .titulo {
  color: white;
}

.header .titulo-paragrafo {
  grid-column: 1/-1;
  color: var(--color05);
  margin-bottom: var(--spacing-medium01);
  max-width: 52ch;
}

/* Redes sociais e turmas */
.redes-turmas-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--color03);
  padding-top: var(--spacing-small05);
}

.turmas {
  display: flex;
  align-items: center;
  gap: var(--spacing-small05);
}

.turmas button {
  background-color: transparent;
  border: none;
  color: var(--color07);
  font: var(--font-small-bold);
  letter-spacing: 1px;
}
