.provas-gincana-container {
  box-sizing: border-box;
  padding: 120px 20px;
  height: 600px;
  background-image: url('../../img/backgrounds/fundo-cultural.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow: hidden;
}

.provas-gincana-container::before {
  content: '';
  width: 40%;
  height: 2px;
  background-color: var(--color10);
  position: absolute;
  top: 0px;
}

.provas-gincana-container > .prova {
  grid-column: 2/4;
  display: grid;
  align-items: end;
  z-index: 1;
  position: relative;
}

.provas-gincana-container .titulo-container {
  margin-bottom: var(--spacing-medium03);
  padding-bottom: var(--spacing-medium03);
  position: relative;
}

.provas-gincana-container .titulo-container:before {
  content: '';
  width: 33%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

.provas-gincana-container .titulo-container .titulo {
  display: flex;
  gap: var(--spacing-small04);
}

.provas-gincana-container .titulo-paragrafo {
  max-width: 50ch;
}

.provas-gincana-container .cultural-videos {
  grid-column: 1;
  display: flex;
  gap: var(--spacing-medium03);
}

.provas-gincana-container video {
  max-width: 200px;
  flex-grow: 1;
  border-radius: var(--border-radius-medium);
}

.provas-buttons {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  display: flex;
  right: 0px;
  bottom: 0px;
}

.provas-buttons button {
  background-color: transparent;
  border: none;
  border-left: 4px solid white;
  border-right: 1px solid white;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
  padding: var(--spacing-small03);
}

.provas-buttons button:hover {
  background-color: var(--color06);
}

.provas-buttons .button-next {
  transform: rotate(180deg);
}

@media (max-width: 1000px) {
  .provas-gincana-container {
    padding-top: var(--spacing-large01);
  }
  .cultural-videos {
    margin-bottom: var(--spacing-medium03);
    padding: 20px 0;
  }
  .provas-buttons {
    grid-row: 3;
    grid-column: 1;
    justify-self: start;
    margin-bottom: var(--spacing-small05);
  }
}

@media (max-width: 800px) {
  .provas-gincana-container .cultural-videos {
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .provas-gincana-container {
    padding-top: var(--spacing-medium03);
  }
}
