.slide-controls {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  gap: var(--spacing-small04);
  margin-bottom: 20px;
}

.slide-controls li {
  width: max-content;
  width: 50px;
  height: 50px;
  position: relative;
}

.slide-controls li.active::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 6px;
  background-color: var(--color11);
  border-radius: var(--border-radius-medium);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
  animation: controlsAnimation 1s forwards;
}

@keyframes controlsAnimation {
  from {
    transform: translate3D(-50%, 8px, 0);
    opacity: 0;
  }
  to {
    transform: translate3D(-50%, 0, 0);
    opacity: 1;
  }
}

.slide-controls li img {
  margin: auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  transition: 0.3s;
}

.slide-controls li.active img {
  width: 50px;
  height: 50px;
  transform: translate3d(0px, -16px, 0);
  opacity: 1;
}
