.slide-container {
  grid-column: 1/-1;
  color: white;
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  gap: var(--spacing-large01);
}

.slide-container::after {
  content: '';
  display: inline-block;
  width: 12vw;
  min-width: 120px;
  height: 16px;
  background-color: var(--color12);
  border-radius: var(--border-radius-medium);
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  bottom: 16px;
  transition: 0.5s;
}

.slide-container:hover::after {
  width: 20vw;
  background-color: var(--color11);
}

.slide-item {
  box-sizing: border-box;
  display: grid;
  align-content: end;
  justify-content: start;
  flex-shrink: 0;
  padding: var(--spacing-medium05);
  border: 10px solid var(--color11);
  border-radius: 2.5rem;
  overflow: hidden;
  width: 50vw;
  min-width: 600px;
  max-width: 800px;
  height: calc(50vw * 0.6);
  min-height: 360px;
  max-height: 480px;
  position: relative;
  transform: scale(0.9);
  opacity: 0.6;
  transition: 0.5s;
  margin-top: 3.5%;
}

.slide-item.active {
  margin-top: 0;
  transform: scale(1);
  opacity: 1;
  position: relative;
}

.slide-item .titulo-container {
  margin-bottom: var(--spacing-small06);
}

.slide-item .titulo-paragrafo {
  max-width: 50ch;
  color: var(--color03);
}

.slide .button-texto-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small05);
}

.slide .button {
  display: flex;
  align-items: center;
  gap: var(--spacing-small03);
  padding: var(--spacing-small02) var(--spacing-small05);
}

.slide .button img {
  width: 1.75rem;
}

.slide-sangue .slide-button,
.slide-medula .slide-button {
  background-color: var(--color00);
  color: var(--color12);
  padding-right: var(--spacing-small06);
  border: 2px solid var(--color00);
}

.slide-sangue .slide-button:hover,
.slide-medula .slide-button:hover {
  background: transparent;
  color: var(--color00);
}

.slide .slide-texto-motivacional {
  font: var(--font-small-bold);
  color: var(--color07);
  max-width: 24ch;
}

.slide-item .slide-equipe-container {
  font-size: 1rem;
  font-family: var(--font-barlow);
  line-height: 1.5;
  color: var(--color06);
  letter-spacing: 0.5px;
  background-color: var(--color11);
  padding: 4px var(--spacing-small04) 8px var(--spacing-small03);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--spacing-small03);
  width: max-content;
}

.slide-item .slide-equipe {
  position: relative;
  color: var(--color00);
}

.slide-item .slide-equipe::before {
  content: '';
  display: inline-block;
  background-color: red;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0px;
}

.slide-utfpr {
  width: 10%;
  position: absolute;
  bottom: 60px;
  right: 60px;
  opacity: 0.2;
  background-color: white;
  padding: 8px;
  border-radius: var(--border-radius-medium);
}

.slide-item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color11);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  z-index: -1;
}

.slide-medula::before {
  background-image: url('../../img/slide/slide-medula.jpg');
}

.slide-alimento::before {
  background-image: url('../../img/slide/slide-alimento.jpg');
}

.slide-lacres::before {
  background-image: url('../../img/slide/slide-lacres.jpg');
}

.slide-sangue::before {
  background-image: url('../../img/slide/slide-sangue.jpg');
}

.slide-cabelo::before {
  background-image: url('../../img/slide/slide-cabelo.jpg');
}

/* Media queries   */
@media (max-width: 1200px) {
  .slide-item {
    padding: var(--spacing-medium03);
    border-radius: 20px;
  }
  .slide {
    gap: var(--spacing-medium05);
  }
  .slide-container::after {
    bottom: 8px;
  }
  .slide-utfpr {
    right: var(--spacing-medium03);
    bottom: var(--spacing-medium03);
  }
}

@media (max-width: 1000px) {
  .slide {
    gap: var(--spacing-medium01);
  }
  .slide-container::after {
    display: none;
  }
  .slide-item .titulo-container {
    margin-bottom: 0;
  }
  .slide-item .titulo-container .titulo-paragrafo,
  .slide-item .slide-texto-motivacional {
    display: none;
  }
}

@media (max-width: 720px) {
  .slide-item {
    min-width: 90vw;
    min-height: calc(90vw * 0.6);
  }
  .slide-sangue .slide-button img,
  .slide-medula .slide-button img {
    width: 24px;
  }
  .slide-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--spacing-small05);
    align-items: end;
  }
  .slide-item .titulo-container {
    order: 1;
  }
  .slide-item .titulo-container .titulo {
    color: var(--color07);
    margin-bottom: 0px;
  }
  .slide-equipe-container,
  .slide-utfpr {
    display: none;
  }
}

@media (max-width: 600px) {
  .slide-item {
    padding: var(--spacing-small05);
  }
  .slide-utfpr {
    right: var(--spacing-small05);
    bottom: var(--spacing-small05);
  }
}
