{% extends "base.html" %} {% load static %} 

{% block content %} 
  <article class="header-slide-container container">
    <header class="header">
      {% include 'partials/_header.html' %}
    </header>
    <div class="background-header">
      <img src="{% static 'backgrounds/cassino-m32.jpg' %}" >
    </div>
    <ul class="slide-controls">
      <li><img src="{% static 'slide/icone-medula.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-alimento.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-lacre.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-sangue.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-cabelo.jpg' %}" alt=""></li>
    </ul>
    <div class="slide-container">
      <ul class="slide" data-resize="resize">
        <li class="slide-medula slide-item">
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Medula</h2>
            <p class="titulo-paragrafo">Você pode salvar a vida de uma pessoa apenas com um gesto. Faça a diferença.</p>
          </div>
          <div class="button-texto-container">
            <button class="slide-button">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </button>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-alimento slide-item">
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Alimento</h2>
            <p class="titulo-paragrafo">Todo o alimento arrecadado será doado para intituições de caridade ou convertido em sextas básicas.</p>
          </div>
          <h3 class="texto-apoio">Doe agora mesmo</h3>
          <div class="button-texto-container">
            <button class="slide-button">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </button>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-lacres slide-item">
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Lacres</h2>
            <p class="titulo-paragrafo">Os lacres arrecadados serão convertidos em cadeira de rodas, que serão doadas para instituições de caridade.</p>
          </div>
          <div class="button-texto-container">
            <button class="slide-button">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </button>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-sangue slide-item">
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Sangue</h2>
            <p class="titulo-paragrafo">A doação está sendo feita no centro médico de Campo Mourão. Faça a diferença na vida de outra pessoa.</p>
          </div>
          <p class="slide-equipe-container">Doe para equipe <span class="slide-equipe">vermelha</span></p>
          <div class="button-texto-container">
            <button class="slide-button">
              <img src="{% static 'logo-tipos/logo-google-maps.svg' %}" alt="Logo Whatsapp">
              Doar
            </button>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-cabelo slide-item">
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Cabelo</h2>
            <p class="titulo-paragrafo">A autoestima não é um luxo, mas sim uma necessidade. Todos merecem tê-la, nos ajude nessa luta.</p>
          </div>
          <div class="button-texto-container">
            <button class="slide-button">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </button>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>
      </ul>
    </div>
  </article>
{% endblock %}
