{% extends "base.html" %} {% load static %} 

{% block content %} 
  <article class="header-slide-container container">
    <header class="header">
      {% include 'partials/_header.html' %}
    </header>
    <div class="background-header">
      <img src="{% static 'backgrounds/cassino-m32.jpg' %}" >
    </div>
    <ul class="slide-controls">
      <li><img src="{% static 'slide/icone-medula.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-alimento.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-lacre.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-sangue.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-cabelo.jpg' %}" alt=""></li>
    </ul>
    <div class="slide-container">
      <ul class="slide" data-resize="resize">
        <li class="slide-medula slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Medula</h2>
            <p class="titulo-paragrafo">Você pode salvar a vida de uma pessoa apenas com um gesto. Faça a diferença.</p>
          </div>
          <p class="slide-equipe-container">Doe para equipe <span class="slide-equipe">vermelha</span></p>
          <div class="button-texto-container">
            <a class="slide-button" href="https://www.google.com.br/maps/@-24.060361,-52.3870448,3a,75y,117.22h,83.83t/data=!3m6!1e1!3m4!1scSuvK240-BSUW5lGq25N4w!2e0!7i16384!8i8192?entry=ttu" target="_blank">
              <img src="{% static 'logo-tipos/logo-google-maps.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-alimento slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Alimento</h2>
            <p class="titulo-paragrafo">Todo o alimento arrecadado será doado para intituições de caridade ou convertido em sextas básicas.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20doar%20alimentos." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-lacres slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div> 
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Lacres</h2>
            <p class="titulo-paragrafo">Os lacres arrecadados serão convertidos em cadeira de rodas, que serão doadas para instituições de caridade.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20doar%20lacres." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-sangue slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Sangue</h2>
            <p class="titulo-paragrafo">A doação está sendo feita no centro médico de Campo Mourão. Faça a diferença na vida de outra pessoa.</p>
          </div>
          <p class="slide-equipe-container">Doe para equipe <span class="slide-equipe">vermelha</span></p>
          <div class="button-texto-container">
            <a class="slide-button" href="https://www.google.com.br/maps/@-24.060361,-52.3870448,3a,75y,117.22h,83.83t/data=!3m6!1e1!3m4!1scSuvK240-BSUW5lGq25N4w!2e0!7i16384!8i8192?entry=ttu" target="_blank">
              <img src="{% static 'logo-tipos/logo-google-maps.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-cabelo slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Cabelo</h2>
            <p class="titulo-paragrafo">A autoestima não é um luxo, mas sim uma necessidade. Todos merecem tê-la, nos ajude nessa luta.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20fazer%20uma%20doação de cabelo." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>
      </ul>
    </div>
  </article>

  <section class="conheca-gincana-container container" data-anima="scroll">
    <div class="titulo-container">
      <h1 class="titulo titulo-large">Conheça a gincana<br>do técnico.</h1>
      <p class="titulo-paragrafo desktop">A gincana to técnico da UTFPR ocorre todos os anos arrecadando toneladas de comida, cadeiras de roda, dezenas de bolsas de sangue, etc...</p>
      <p class="titulo-paragrafo mobile">Conheça mais sobre esse evento magnífico na sessão abaixo, ou acesse nossas redes.</p>
    </div>
    <div class="conheca-gincana-redes">
      <h2 class="titulo titulo-small">Acesse nossas redes.</h2>
      <ul class="redes">
          <img src="{% static 'logo-tipos/logo-instagram.svg' %}" alt="Logo Instagram">
        </li>
        <li>
          <img src="{% static 'logo-tipos/logo-youtube.svg' %}" alt="Logo YouTube">
        </li>
        <li>
          <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo YouTube">
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
