{% extends "base.html" %} {% load static %} 

{% block content %} 
  <article class="header-slide-container container">
    <header class="header">
      {% include 'partials/_header.html' %}
    </header>
    <div class="background-header">
      <img src="{% static 'backgrounds/cassino-m32.jpg' %}" >
    </div>
    <ul class="slide-controls">
      <li><img src="{% static 'slide/icone-medula.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-alimento.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-lacre.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-sangue.jpg' %}" alt=""></li>
      <li><img src="{% static 'slide/icone-cabelo.jpg' %}" alt=""></li>
    </ul>
    <div class="slide-container">
      <ul class="slide" data-resize="resize">
        <li class="slide-medula slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Medula</h2>
            <p class="titulo-paragrafo">Você pode salvar a vida de uma pessoa apenas com um gesto. Faça a diferença.</p>
          </div>
          <p class="slide-equipe-container">Doe para equipe <span class="slide-equipe">vermelha</span></p>
          <div class="button-texto-container">
            <a class="slide-button button" href="https://www.google.com.br/maps/@-24.060361,-52.3870448,3a,75y,117.22h,83.83t/data=!3m6!1e1!3m4!1scSuvK240-BSUW5lGq25N4w!2e0!7i16384!8i8192?entry=ttu" target="_blank">
              <img src="{% static 'logo-tipos/logo-google-maps.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-alimento slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Alimento</h2>
            <p class="titulo-paragrafo">Todo o alimento arrecadado será doado para intituições de caridade ou convertido em sextas básicas.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20doar%20alimentos." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-lacres slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div> 
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Lacres</h2>
            <p class="titulo-paragrafo">Os lacres arrecadados serão convertidos em cadeira de rodas, que serão doadas para instituições de caridade.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20doar%20lacres." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-sangue slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Sangue</h2>
            <p class="titulo-paragrafo">A doação está sendo feita no centro médico de Campo Mourão. Faça a diferença na vida de outra pessoa.</p>
          </div>
          <p class="slide-equipe-container">Doe para equipe <span class="slide-equipe">vermelha</span></p>
          <div class="button-texto-container">
            <a class="slide-button button" href="https://www.google.com.br/maps/@-24.060361,-52.3870448,3a,75y,117.22h,83.83t/data=!3m6!1e1!3m4!1scSuvK240-BSUW5lGq25N4w!2e0!7i16384!8i8192?entry=ttu" target="_blank">
              <img src="{% static 'logo-tipos/logo-google-maps.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>

        <li class="slide-cabelo slide-item">
          <div class="slide-utfpr"><img src="{% static 'logo-tipos/logo-utfpr.png' %}" alt=""></div>
          <div class="titulo-container">
            <h2 class="titulo titulo-medium">Cabelo</h2>
            <p class="titulo-paragrafo">A autoestima não é um luxo, mas sim uma necessidade. Todos merecem tê-la, nos ajude nessa luta.</p>
          </div>
          <div class="button-texto-container">
            <a class="slide-button button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20fazer%20uma%20doação de cabelo." target="_blank">
              <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
              Doar
            </a>
            <span class="slide-texto-motivacional">Nos ajude a ajudar quem realmente precisa.</span>
          </div>
        </li>
      </ul>
    </div>
  </article>

  <section class="conheca-gincana-container container" data-anima="scroll">
    <div class="titulo-container">
      <h1 class="titulo titulo-large">Conheça a gincana<br>do técnico.</h1>
      <p class="titulo-paragrafo desktop">A gincana to técnico da UTFPR ocorre todos os anos arrecadando toneladas de comida, cadeiras de roda, dezenas de bolsas de sangue, etc...</p>
      <p class="titulo-paragrafo mobile">Conheça mais sobre esse evento magnífico na sessão abaixo, ou acesse nossas redes.</p>
    </div>
    <div class="conheca-gincana-redes">
      <h2 class="titulo titulo-small">Acesse nossas redes.</h2>
      <ul class="redes">
          <a href="https://www.instagram.com/cassino.m33/?theme=dark" target="_blank">
            <img src="{% static 'logo-tipos/logo-instagram.svg' %}" alt="Logo Instagram">
          </a>
        </li>
        <li>
          <img src="{% static 'logo-tipos/logo-youtube.svg' %}" alt="Logo YouTube">
        </li>
        <li>
          <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo YouTube">
        </li>
      </ul>
    </div>
  </section>

  <article class="provas-gincana-container" data-anima="scroll">
    <ul class="provas-controls" data-prova-controls="container">
      <li><img src="{% static 'provas-gincana/icone-filantropica.jpg' %}" alt="Lacres"></li>
      <li><img src="{% static 'provas-gincana/icone-recreativa.jpg' %}" alt="Gincana"></li>
      <li><img src="{% static 'provas-gincana/icone-esportiva.jpg' %}" alt="Volêi"></li>
      <li><img src="{% static 'provas-gincana/icone-cultural.jpg' %}" alt="Cantoras"></li>
    </ul>

    <div class="prova-filantropica prova-gincana container" data-prova-gincana="container">
      <div class="prova-filantropica-content">
        <div class="titulo-container">
          <h2 class="titulo titulo-medium">
            Filantrópica
            <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo Google Fotos">
          </h2>
          <p class="titulo-paragrafo">As provas filantrópicas são divididadas em 5 caterorias diferentes.</p>
        </div>
        <ul class="filantropica-categorias">
          <li>
            <img src="{% static 'provas-gincana\filantropica\icone-alimento.svg' %}" alt="Alimento">
            Alimento
          </li>
          <li>
            <img src="{% static 'provas-gincana\filantropica\icone-sangue.svg' %}" alt="Doação de sangue">
            Sangue
          </li>
          <li>
            <img src="{% static 'provas-gincana\filantropica\icone-lacres.png' %}" alt="Lacres">
            Lacres
          </li>
          <li>
            <img src="{% static 'provas-gincana\filantropica\icone-medula.png' %}" alt="Doação de medula">
            Medula
          </li>
          <li>
            <img src="{% static 'provas-gincana\filantropica\icone-cabelo.png' %}" alt="Cabelo">
            Cabelo
          </li>
        </ul>
        <p class="paragrafo-ajuda">Toda Ajuda é bem vinda!</p>
        <button class="button">Doar</button>
      </div>
    </div>

    <div class="prova-recreativa prova-gincana container" data-prova-gincana="container">
      <div class="prova-recreativa-content">
        <div class="titulo-container">
          <h2 class="titulo titulo-medium">
            Recreativa
            <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo Google Fotos">
          </h2>
          <p class="titulo-paragrafo">As provas recreativas são um verdadeiro espetáculo de provas dos mais variados tipos, onde os alunos preparam bolos, resolvem enigmas, etc...</p>
        </div>
        <ul class="imagens-ilustrativas">
          <li><img src="{% static 'provas-gincana/recreativa/imagem-recreativa01.jpg' %}" alt="Gincana"></li>
          <li><img src="{% static 'provas-gincana/recreativa/imagem-recreativa02.jpg' %}" alt="Gincana"></li>
          <li><img src="{% static 'provas-gincana/recreativa/imagem-recreativa03.jpg' %}" alt="Gincana"></li>
        </ul>
      </div>
    </div>

    <div class="prova-esportiva prova-gincana container" data-prova-gincana="container">
      <div class="prova-esportiva-content">
        <div class="titulo-container">
          <h2 class="titulo titulo-medium">
            Esportiva
            <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo Google Fotos">
          </h2>
          <p class="titulo-paragrafo">Nas provas esportivas as 4 turmas do técnico integrado competem entre si em dois esportes selecionados pelos mesmos</p>
        </div>
        <h3 class="titulo titulo-jogadores">Nossos jogadores</h3>
        <div class="esportes-container">
          <div class="esporte-jogadores-container">
            <h4 class="titulo titulo-esporte">Vôlei</h4>
            <ul class="lista-jogadores">
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
            </ul>
          </div>
          <div class="esporte-jogadores-container">
            <h4 class="titulo titulo-esporte">Futsal</h4>
            <ul class="lista-jogadores">
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
            </ul>
          </div>
          <div class="esporte-jogadores-container">
            <h4 class="titulo titulo-esporte">Basquete</h4>
            <ul class="lista-jogadores">
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
              <li><img src="{% static 'provas-gincana/esportiva/perfil-vazio.png' %}" alt="Foto de perfil"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="prova-cultural prova-gincana container" data-prova-gincana="container">
      <div class="prova-cultural-content">
        <div class="titulo-container">
          <h2 class="titulo titulo-medium">
            Cultural
            <a href="https://photos.app.goo.gl/26tjjDjWSiPjaqcGA" target="_blank">
              <img src="{% static 'logo-tipos/logo-google-fotos.svg' %}" alt="Logo Google Fotos">
            </a>
          </h2>
          <p class="titulo-paragrafo">As provas culturais da gincana da UTFPR, são um verdadeiro espetáculo, onde todas as turmas mostram seus maiores talentos</p>
        </div>
        <div class="cultural-videos">
          <button class="cultural-videos-button"></button>
          <div class="video-cultural-container">
            <div data-video-cultural="musica">
              <video playsinline loop src="{% static 'provas-gincana/cultural/videos/video-cultural-musica.mp4' %}"></video>
            </div>
            <h3 class="titulo-video">Música</h3>
          </div>
          <div class="video-cultural-container">
            <div data-video-cultural="danca">
              <video playsinline loop src="{% static 'provas-gincana/cultural/videos/video-cultural-danca.mp4' %}"></video>
            </div>
            <h3 class="titulo-video">Dança</h3>
          </div>
          <div class="video-cultural-container">
            <div data-video-cultural="musica">
              <video playsinline loop src="{% static 'provas-gincana/cultural/videos/video-cultural-cover.mp4' %}"></video>
            </div>
            <h3 class="titulo-video">Cover</h3>
          </div>
        </div>
      </div>
    </div>
  </article>

  <section class="patrocinadores-container container">
    <div class="titulo-container">
      <h1 class="titulo titulo-large">Patrocinadores</h1>
      <p class="titulo-paragrafo">Tenha o nome de sua empresa aqui também, torne-se um de nossos patrocinadoes.</p>
    </div>
    <a class="button-patrocinador button" href="https://wa.me/5544999659285?text=Olá,%20gostaria%20de%20ser%20um%20patrocinador." target="_blank">
      <img src="{% static 'logo-tipos/logo-whatsapp.svg' %}" alt="Logo Whatsapp">
      Torne-se um
    </a>
    <ul class="lista-patrocinadores">
      <!-- <li><img src="{% static 'patrocinadores/logo-viacao-garcia.png' %}" alt="Logo Viação Garcia"></li> -->
      <li><img src="{% static 'patrocinadores/logo-laura-santos.png' %}" alt="Logo Laura Santos"></li>
    </ul>
    <div class="imagem-roberto">
      <img src="{% static 'backgrounds\imagem-roberto.png' %}" alt="Pessoa">
    </div>
  </section>

  <section class="contato-email-container container">
    <div class="titulo-container">
      <h1 class="titulo titulo-medium">Nos envie um email</h1>
      <p class="titulo-paragrafo">Tire suas duvidas conosco. Torne-se um apoiador nessa luta.</p>
    </div>
    <form action="" class="formulario-contato-email">
      <div class="nome-contato-container">
        <label for="nome-contato" class="input-label">Nome</label>
        <input type="text" id="nome-contato" name="nome-nome-contato">
      </div>
      <div class="empresa-contato-container">
        <label for="empresa-contato" class="input-label">
          Empresa
          <span class="texto-input-opicional">*opicional</span>
        </label>
        <input type="text" id="empresa-contato" name="empresa-contato">
      </div>
      <div class="email-contato-container">
        <label for="email-contato" class="input-label">Email</label>
        <input type="email" id="email-contato" name="email-contato" placeholder="email@email.com">
      </div>
      <div class="mensagem-contato-container">
        <label for="mensagem-contato" class="input-label">Mensagem</label>
        <textarea name="mensagem-contato" id="mensagem-contato" cols="30" rows="5"></textarea>
      </div>
      <button class="button-contato button">Enviar</button>
    </form>
    <div class="imagem-natalia-luana">
      <img src="{% static 'backgrounds/natalia-luana.png' %}" alt="Vencedoras">
    </div>
  </section>

  <div class="login-cadastro-container" data-accounts="container">
    {% if user.is_authenticated %}
      <div class="logout-container">
        <a href="{% url 'logout' %}" class="button">Logout</a>
      </div>
    {% else %}
      <form 
        action="{% url 'cadastro' %}"
        method="POST"
        class="cadastro-content" 
        data-accounts="cadastroContent"
      >
        {% csrf_token %}
        <div class="header-login-cadastro">
          <h2 class="titulo titulo-medium">Cadastro</h2>
          <a href="{% url 'login' %}" class="link-login-cadastro" data-accounts="openLogin">
            Login
            <img src="{% static 'icones/icone-seta03.svg' %}" alt="Seta para a direita">
          </a>
        </div>

        {% for field in register_form %}
          <div class="input-container" id="{{ field.id_for_label }}">
            <label class="input-label" for="{{ field.id_for_label}}">
              {{ field.label }}
              <span class="texto-input-opicional">{{ field.help_text }}</span>
            </label>
            {{ field }}

            {% for error in field.errors %}
              {% if field.errors %}
                <p class="errorlist-container">
                  <img src="{% static 'icones/icone-erro-form.svg' %}">
                  <span class="error-message">{{ error }}</span>
                </p>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}

        <button type="submit" class="login-cadastro-button button">Cadastrar</button>
      </form>
    
      <form 
        action="{% url 'login' %}"
        method="POST"
        class="login-content"
        data-accounts="loginContent"
      >
        {% csrf_token %}
        <div class="header-login-cadastro">
          <h2 class="titulo titulo-medium">Login</h2>
          <a href="{% url 'cadastro' %}" class="link-login-cadastro" data-accounts="openCadastro">
            Cadastro
            <img src="{% static 'icones/icone-seta03.svg' %}" alt="Seta para a direita">
          </a>
        </div>

        {% for field in login_form %}
          <div class="input-container" id="{{ field.id_for_label }}">
            <label class="input-label" for="{{ field.id_for_label}}">
              {{ field.label }}
              <span class="texto-input-opicional">{{ field.help_text }}</span>
            </label>
            {{ field }}

            {% for error in field.errors %}
              {% if field.errors %}
                <p class="errorlist-container">
                  <img src="{% static 'icones/icone-erro-form.svg' %}">
                  <span class="error-message">{{ error }}</span>
                </p>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}

        <button type="submit" class="login-cadastro-button button">Entrar</button>

        {% if login_form.non_field_errors %}
          {% for error in login_form.non_field_errors %}
            <p class="errorlist-container non-field">
              <img src="{% static 'icones/icone-erro-form.svg' %}">
              <span class="error-message">{{ error }}</span>
            </p>
          {% endfor %}
        {% endif %}
      </form>

      <button type="button" class="fechar-login-cadastro" data-accounts="close">
        <img src="{% static 'icones/icone-fechar.svg' %}" alt="Botão de fechar">
      </button>
    {% endif %}
  </div>

  <!-- Messages -->
  {% if messages %}
    <div class="messages-container">
      {% for message in messages %}
        <div class="message">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
