/* global */
@import './global/global.css';
@import './global/animations.css';
@import './global/footer.css';

/* home */
@import './home/header.css';
@import './home/menu.css';
@import './home/slide-controls.css';
@import './home/slide.css';
@import './home/conheca-gincana.css';

/* Provas gincana */
@import './home/provas-gincana/provas-gincana.css';
@import './home/provas-gincana/prova-filantropica.css';
@import './home/provas-gincana/prova-esportiva.css';
@import './home/provas-gincana/prova-cultural.css';
@import './home/provas-gincana/prova-recreativa.css';

@import './home/patrocinadores.css';
@import './home/contato-email.css';


/* User */
@import './accounts/login-cadastro.css';
@import './accounts/cadastro.css';
@import './accounts/login.css';
