/* global */
@import './global/global.css';
@import './global/animations.css';

/* home */
@import './home/header.css';
@import './home/menu.css';
@import './home/slide-controls.css';
@import './home/slide.css';
@import './home/conheca-gincana.css';
@import './home/provas-gincana.css';
