.provas-gincana-container {
  position: relative;
  padding-top: var(--spacing-large01);
  overflow-x: hidden;
}

.provas-gincana-container::before {
  content: '';
  width: 40%;
  height: 2px;
  background-color: var(--color10);
  position: absolute;
  top: 0px;
}

.provas-gincana-container .provas-controls {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small05);
  padding-bottom: 10px;
}

.provas-gincana-container .provas-controls li {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  opacity: 0.4;
  transition: 0.3s;
}

.provas-gincana-container .provas-controls li.active {
  transform: scale(1.2);
  opacity: 1;
}

.provas-gincana-container > .prova-gincana {
  box-sizing: border-box;
  display: none;
  align-items: start;
  padding: var(--spacing-medium05) 0;
  height: 720px;
  position: relative;
  animation: fadeInRight 1s forwards;
}

.provas-gincana-container > .prova-gincana > * {
  grid-column: 2/4;
}

.provas-gincana-container > .prova-gincana.active {
  display: grid;
}

@media (max-width: 1000px) {
  .provas-gincana-container .prova-gincana.active {
    display: block;
    padding-bottom: var(--spacing-medium05);
    height: 600px;
  }
}

@media (max-width: 600px) {
  .provas-gincana-container > .prova-gincana {
    animation: initial;
  }
  .prova-gincana > div > * {
    animation: fadeInRight 1s forwards;
  }
}
