.provas-gincana-container {
  position: relative;
}

.provas-gincana-container::before {
  content: '';
  width: 40%;
  height: 2px;
  background-color: var(--color10);
  position: absolute;
  top: 0px;
}

.provas-gincana-container > .prova-gincana {
  box-sizing: border-box;
  display: none;
  align-items: start;
  padding: var(--spacing-large02) 0;
  height: 720px;
  position: relative;
}

.provas-gincana-container > .prova-gincana > * {
  grid-column: 2/4;
}

.provas-gincana-container > .prova-gincana.active {
  display: grid;
}

@media (max-width: 1000px) {
  .provas-gincana-container .prova-gincana.active {
    display: block;
    padding-bottom: var(--spacing-medium05);
    height: 600px;
  }
}
