.prova-cultural {
  background-image: url('../../../img/provas-gincana/cultural/fundo-cultural.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 110vw;
}

.prova-cultural .titulo-container,
.prova-cultural .cultural-videos {
  padding-left: var(--spacing-small05);
}

/* Títulos */
.prova-cultural .titulo-container {
  padding-bottom: var(--spacing-medium03);
  margin-bottom: var(--spacing-medium04);
  position: relative;
}

.prova-cultural .titulo-container::after {
  content: '';
  width: 33%;
  height: 2px;
  background-color: var(--color00);
  position: absolute;
  bottom: 0px;
}

.prova-cultural .titulo {
  display: flex;
  gap: var(--spacing-small04);
  color: var(--color00);
}

.prova-cultural .titulo-paragrafo {
  max-width: 50ch;
  color: var(--color03);
}

/* Vídeos */
.prova-cultural .cultural-videos {
  grid-row: 2;
  display: flex;
  gap: var(--spacing-medium03);
  width: max-content;
  position: relative;
}

[data-video-cultural] {
  transition: 0.5s;
}

.prova-cultural .video-cultural-container .titulo-video {
  font: bold 1rem/1.5 var(--font-barlow), sans-serif;
  color: var(--color08);
  text-align: center;
  margin-top: var(--spacing-small03);
  background-color: var(--color11);
  padding: var(--spacing-small01) var(--spacing-small05);
  border-radius: var(--border-radius-medium);
}

.cultural-videos video,
.cultural-videos img {
  min-width: 200px;
  max-width: 200px;
  border-radius: var(--border-radius-large);
}

.cultural-videos-button {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 40px;
  height: 20px;
  background-color: var(--color11);
  border-radius: var(--border-radius-medium);
  border: none;
}

.cultural-videos-button::before {
  content: '';
  background-color: var(--color05);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius-medium);
  transition: 0.2s;
}

.cultural-videos-button.active::before {
  left: calc(40px - 20px);
}

@media (max-width: 1000px) {
  .prova-cultural .titulo-container {
    padding-left: var(--spacing-medium05);
  }
  .cultural-videos-button {
    right: var(--spacing-medium05);
  }
  .prova-cultural .cultural-videos {
    padding-left: 0px;
    width: initial;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .prova-cultural .cultural-videos {
    overflow-x: auto;
    padding-bottom: var(--spacing-small06);
  }
  .cultural-videos-button {
    display: none;
  }
  .prova-cultural .video-cultural-container .titulo-video {
    justify-self: initial;
  }
}

@media (max-width: 720px) {
  .prova-cultural .titulo-container,
  .prova-cultural .cultural-videos {
    padding-left: var(--spacing-small05);
  }
}
