.cadastro-content > #id_first_name {
  grid-column: 1/3;
}
.cadastro-content > #id_last_name {
  grid-column: 3/-1;
}

.cadastro-content > #id_email {
  grid-column: 1/-1;
}

.cadastro-content > #id_password1 {
  grid-column: 1/-1;
}

.cadastro-content > #id_password2 {
  grid-column: 1/-2;
}

.errorlist-container {
  display: flex;
  align-items: start;
  padding-top: var(--spacing-small02);
}

.errorlist-container img {
  margin-right: var(--spacing-small01);
}

.error-message {
  font: normal 0.875rem/1 var(--font-barlow), sans-serif;
  color: var(--color07);
}
