.cadastro-content > #id_first_name {
  grid-column: 1/3;
}
.cadastro-content > #id_last_name {
  grid-column: 3/-1;
}

.cadastro-content > #id_email {
  grid-column: 1/-1;
}

.cadastro-content > #id_password1 {
  grid-column: 1/-1;
}

.cadastro-content > #id_password2 {
  grid-column: 1/-2;
}
