.cadastro-content .input-container-nome {
  grid-column: 1/3;
}
.cadastro-content .input-container-sobrenome {
  grid-column: 3/-1;
}

.cadastro-content .input-container-email {
  grid-column: 1/-1;
}

.cadastro-content .input-container-senha {
  grid-column: 1/-1;
}

.cadastro-content .input-container-c-senha {
  grid-column: 1/-2;
}
